/* ivm float fout efiber thema*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

[role="contentinfo"] {
	display: none !important;
}

.page-template-keuzehulp [role="banner"] {
display: none !important;
}

.page-template-keuzehulp {
	background-color: #ededed;
}

.page-template-keuzehulp #sticky-anchor {
	height: 0 !important;
}
header #sticky.stick {
	position: static !important;
}

.keuzehulp {
	float: left;
	width: 100%;
}
/* ivm float fout efiber thema*/
.site-content::after {
	display: block;
	float: none;
	content: '';
	clear:both;
}

.keuzehulp .verpakking {
	width: 1200px;
	max-width: calc(100% - 40px);
	margin: 0 auto;
	padding: 50px 0;
	min-height: 85vh;
}

	@media (max-width: 800px) {
		.keuzehulp .verpakking {
			display: flex;
			flex-direction: column;
			padding: 30px 0;
		}
		.keuzehulp .verpakking .efiber-niveau-knoppen{
			order: 2;
			margin-top: 50px;
		}
	}

	[data-efiber-stap="3"] .keuzehulp .verpakking,
	[data-efiber-stap="4"] .keuzehulp .verpakking,
	[data-efiber-stap="5"] .keuzehulp .verpakking,
	[data-efiber-stap="6"] .keuzehulp .verpakking,
	[data-efiber-stap="7"] .keuzehulp .verpakking,
	[data-efiber-stap="8"] .keuzehulp .verpakking,
	[data-efiber-stap="9"] .keuzehulp .verpakking,
	[data-efiber-stap="10"] .keuzehulp .verpakking,
	[data-efiber-stap="11"] .keuzehulp .verpakking,
	[data-efiber-stap="12"] .keuzehulp .verpakking,
	[data-efiber-stap="20"] .keuzehulp .verpakking,
	[data-efiber-stap="21"] .keuzehulp .verpakking,
	[data-efiber-stap="30"] .keuzehulp .verpakking,
	[data-efiber-stap="50"] .keuzehulp .verpakking,
	[data-efiber-stap="51"] .keuzehulp .verpakking,
	[data-efiber-stap="100"] .keuzehulp .verpakking {
		width: 955px;
	}

.onzichtbaar {
	display: none !important;
}

.keuzehulp header,
.keuzehulp-sectie_kop {
	float: none;
}

.keuzehulp h1,
.keuzehulp h2,
.keuzehulp h3,
.keuzehulp h4,
.keuzehulp h5,
.keuzehulp h6,
.sticky-binnen h2,
.sticky-binnen h3 {
	margin-top: .5em;
	margin-bottom: 1em;
	color: #ab3470;
	font-weight: 600;
	font-family: "Ubuntu";
	line-height: 1;
}

.keuzehulp h1:first-child, .keuzehulp h2:first-child, .keuzehulp h3:first-child, .keuzehulp h4:first-child, .keuzehulp h5:first-child, .keuzehulp h6:first-child {
	margin-top: 0;
}

.keuzehulp p {
	color: #46297e;
	font-weight: 500;
	max-width: 600px;
}

.keuzehulp form {
	margin: 50px 0;
	padding: 40px;
}
	.keuzehulp form h2,
	.keuzehulp form h3,
	.keuzehulp form h4,
	.keuzehulp form p,
	.keuzehulp form span {
		color: #f9f9f9;
	}

.keuzehulp label {
	margin-right: 7px;
	margin-bottom: 10px;
}











@media (max-width: 800px) {

	[data-keuzehulp-stap='30'] {
		font-size: .8rem;
	}
		#print-vergelijking {
			margin-left: 0px;
			margin-right: -20px;
		}
			#print-vergelijking .efiber-form-sectie {
				border-radius: 0;
				margin-bottom: 0;
				padding-bottom: 10px;
				padding-top: 0;
			}

			#print-vergelijking h3 {
				font-size: 1.4em;
				border-bottom: 0;
				margin-bottom: 0;
				padding-bottom: 0;
			}

			#print-vergelijking .veld {
				min-width: 120px;
				max-width: 120px;
			}
			.efiber-form-sectie:nth-child(2n+1),
			.efiber-form-sectie:nth-child(2n+2) {
				background-color: transparent;
			}
}



/* zakelijk formulier en lead formulier*/
[data-keuzehulp-stap="50"] .keuzehulp-sectie_kop,
[data-keuzehulp-stap="51"] .keuzehulp-sectie_kop,
[data-keuzehulp-stap="50"] .keuzehulp-sectie_torso > p,
[data-keuzehulp-stap="51"] .keuzehulp-sectie_torso > p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}




#print-aanmeldformulier,
#print-provider-pakketten,
#print-vergelijking,
#print-zakelijk-formulier {
	display: block !important;
}


.gv-table-view {
	width: auto !important;
}

.gv-table-view td {
	border: 1px solid grey;
}