.keuzehulp-sectie_kop {
	margin-top: 0;
	margin-bottom: 10px;
	min-height: 65px;

}
.keuzehulp-sectie_kop h2 {
	margin-bottom: 0;
}

.keuzehulp .verpakking {
	padding-top: 0;
}
#sticky-keuzes {
/*
	left:auto!important;
	right:20px;
	top: 262px!important;
	opacity:0;
*/
	height: auto!important;
	padding-bottom: 50px;
}
#print-aanmeldformulier .efiber-form-sectie ~ p {
	text-align: center;
	font-size: 1.2em;
}

.paars_blok {
	background-color: #ab3470;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
}

img {
max-width: 100%;
height: auto !important;
min-height: 1px;
max-height: 100%;
width: auto\9;
}

@media all and (-ms-high-contrast:none)
     {
     *::-ms-backdrop, .print-vergelijking .efiber-form-sectie:first-child .rij:first-child .veld h3, .print-vergelijking .efiber-form-sectie:first-child .rij:first-child .veld { display: block } /* IE11 */
     }


