
.keuzehulp-sectie ~ .keuzehulp-sectie {
  display: none;
}

.efiber-navigatie-buiten {
	padding-top: 0;
	padding-bottom: 50px;
	background-color: #dfdde6;
	display: none;
}
	body[data-efiber-stap] .efiber-navigatie-buiten {
		display: block;
	}
		body[data-efiber-stap="1"] .efiber-navigatie-buiten {
			display: none;
		}

	.efiber-navigatie-binnen {
		width: 768px;
		margin-left: auto;
		margin-right: auto;
		max-width: calc(100% - 40px);
	}
/*		.efiber-navigatie-binnen .efiber-navigatie.knop {
			background-color: #d92919;
		}
		.efiber-navigatie-binnen .efiber-navigatie.knop:hover {
			background-color: #aa1f12;
		}
*/
			.efiber-navigatie-binnen .knop{
				margin-right: 10px;
			}







.keuzehulp-sectie_kop {
	text-align: center;
	margin-top: 65px;
	margin-bottom: 70px;
}

@media (max-width: 600px) {
	.keuzehulp-sectie_kop {
		text-align: center;
		margin-top: 0;
		margin-bottom: 20px;
	}
}
	.keuzehulp-sectie_kop {
		min-height: 100px;
	}
	.keuzehulp-sectie_kop h2 {

	}
		.keuzehulp-sectie_kop h2 span {
			display: inline-block;
		}

	.keuzehulp-sectie_kop img {
		width: auto;
		height: 100px;
		margin-right: 40px;
	}


.keuzehulp-sectie_torso {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #dfdde6;
}

	.keuzehulp-sectie_torso .binnen{
		width: 768px;
		margin-left: auto;
		margin-right: auto;
		max-width: calc(100% - 40px);
	}


	@media (min-width: 800px){
	[data-keuzehulp-stap="1"] .binnen img {
		margin-bottom: 20px;
	}
	}
