.paars_blok {
	background-color: #159a3c;;
	color: white;
	padding: 20px !important;
}

input[type='text'], textarea, select {
	border: 1px solid #81d899;  
	margin-bottom: .8em;
	padding: .75em;
	display: block;
	width: 100%;
	box-sizing: border-box;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);	
}
	input[type='text']:focus,
	textarea:focus  {
		border: 1px solid #81f899;  
		outline: 2px solid #81f899;
	}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;   
}

[type='submit']:hover {
	cursor: pointer;
}


.keuzehulp .gform_wrapper {
	padding: 10px;
	background-color: white;
	margin: 0 -10px;	
}

	.keuzehulp .gform_heading {
		display: none;
	}

	.keuzehulp .gform_wrapper label.gfield_label {
		font-size: .8em;
		font-weight: 400;
	}	


		.keuzehulp .gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
		    padding: 10px 4px;
		    letter-spacing: normal;
		}	


.gform_ajax_spinner {
	max-width: 20px;
}

		.gform_button {
			color: white;
			font-weight: 700;
			text-transform: uppercase;
			border: none;
			background: linear-gradient(.45turn, #2381cc, #1d6ba9);
			display: block;
			font-size: 16px;
			padding: 15px;			
			border: 0;
		}