.paars_blok {
	background-color: #ab3470;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
}

input[type='text'] {
	border: 1px solid #81d899;  
	margin-bottom: .8em;
	padding: .75em;
	display: block;
	width: 100%;
	box-sizing: border-box;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);	
}
	input[type='text']:focus {
		border: 1px solid #81f899;  
		outline: 2px solid #81f899;
	}

[type='submit']:hover {
	cursor: pointer;
}