


.provider-pakketten-vergelijking-sectie td + td, , .provider-pakketten-vergelijking-sectie th + th {
	text-align: right;
}


.provider-pakketten-pakket-midden header strong {
	color: rgb(21, 154, 60);
}

.vergelijking-disclaimer {
	margin-left: 10px;
}
/*
@media (min-width: 1200px) {

	[data-kz-stap~="hoofd"] main .keuzehulp .verpakking,
	[data-kz-stap~="hoofd"][data-kz-stap~="nog-geen-niveau"] main .keuzehulp .verpakking  {
		max-width: calc(100% - 330px)!important;
	}
	[data-kz-stap~="hoofd"] main .keuzehulp .verpakking,
	[data-kz-stap~="pad-keuze"] main .keuzehulp .verpakking {
		width: auto!important;
	}
			
}*/



/* lol HP wat is dit */

@media all and (-ms-high-contrast:none)
     {
     *::-ms-backdrop, .print-vergelijking .kz-form-sectie:first-child .rij:first-child .veld h3, 
     .print-vergelijking .kz-form-sectie:first-child .rij:first-child .veld { display: block } /* IE11 */
     }


