
.kz-navigatie-beneden {
	display: none;
	margin: 0 -10px;
}

[data-kz-stap~='hoofd'] .kz-navigatie-beneden {
	display: block;
}

[data-kz-stap~='stap-7'] .kz-navigatie-beneden_binnen [data-keuzehulp-stap='7'] {
	display: block !important;
}

[data-kz-stap~='stap-9'] .kz-navigatie-beneden_binnen [data-keuzehulp-stap='9'] {
	display: block !important;
}

.kz-navigatie-beneden {
	padding: 20px 0;
}
	.knop.kz-navigatie-beneden_knop {
		display: none;
	}
		.knop.kz-navigatie-beneden_knop:last-child {
			display: block;
		}

		.knop.kz-navigatie-beneden_knop, .knop.kz-navigatie-beneden_knop span {
			color: #1d1d1b;
			text-decoration: none;
		}
			.knop.kz-navigatie-beneden_knop, .knop.kz-navigatie-beneden_knop span:hover {
				color: #1d1d1b;
			}
			.knop.kz-navigatie-beneden_knop.blauwe-knop {
				text-align: center;
				margin-bottom: 10px;
				max-width: 250px;
			}
			.knop.kz-navigatie-beneden_knop.blauwe-knop span{
				color: white;
			}

		.kz-navigatie-beneden_knop svg, .kz-navigatie-beneden_knop span {
			display: inline-block;
			vertical-align: middle;
		}
		.kz-navigatie-beneden_knop svg {
			width: 30px;
			height: 30px;
		}
		.kz-navigatie-beneden_knop svg rect {
			fill: #b9b9b9;
		}

