.print-vergelijking {
	margin: 0 -10px;
}
.print-vergelijking .blauwe-knop{
	text-align: center;
}


.provider-pakketten.vergelijking {
	background-color: #f8fff1;
	border: 1px solid #85b942;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 40px;
}
	.provider-pakketten-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
		.provider-pakketten-header .wp-post-image {
			flex-basis: 200px;
			align-self: center;
		}
		.provider-pakketten-header-prijs {

		}
			.provider-pakketten-header-prijs {

			}


.provider-pakketten-lijst {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
	.provider-pakketten-pakket > header {
		padding-bottom: 20px;
		border-bottom: 1px solid #85b942;
	}
		.provider-pakketten-pakket header .flex {
			display: flex;
			color: #797979;
			margin: 20px 0;
		}
			.provider-pakketten-pakket header .flex > div {
				flex-basis: 50%;
			}
			.provider-pakketten-pakket header h4 {
				font-size: 12px;
				font-weight: 400;
				margin-bottom: 0;
			}
			.provider-pakketten-pakket header strong {
				font-size: 16px;
				font-weight: 600;
			}

			.provider-pakketten-pakket header .blauwe-knop {
				text-align: center;
			}
				.provider-pakketten-pakket header .blauwe-knop > * {
					vertical-align: middle;
				}
				.provider-pakketten-pakket header .blauwe-knop svg{
					transform: rotate(.5turn);
					width: 30px;
					height: 30px;
					margin: -5px -5px -5px 5px;				
				}
					.provider-pakketten-pakket header .blauwe-knop path{
						fill: white;
					}

.provider-pakketten-vergelijking-hoofd {
	display: none;
}
	.provider-pakketten-vergelijking-hoofd.actief {
		display: block;
	}

	.provider-pakketten-vergelijking-sectie {
		margin: 20px 0;
	}
		.provider-pakketten-vergelijking-sectie + .provider-pakketten-vergelijking-sectie {
			margin-top: 40px;
		}
		.provider-pakketten-vergelijking-sectie header {
			
		}
			.provider-pakketten-vergelijking-sectie header svg,
			.provider-pakketten-vergelijking-sectie header h3{
				vertical-align: middle;
				display: inline-block;
			}	
			.provider-pakketten-vergelijking-sectie header svg {
				width: 30px;
				height: 30px;
			}
				.provider-pakketten-vergelijking-sectie header path, 
				.provider-pakketten-vergelijking-sectie header circle {
					fill: #1d1d1b;
				}

			.provider-pakketten-vergelijking-sectie table {
				margin: 20px 0;
				width: 100%;
			}

				.provider-pakketten-vergelijking-sectie td, 
				.provider-pakketten-vergelijking-sectie th {
					max-width: calc(60% - 5px);
					padding-right: 5px;
				}
				.provider-pakketten-vergelijking-sectie td + td, 
				.provider-pakketten-vergelijking-sectie th + th{
					max-width: calc(40% - 5px);
					padding-right: 0;
					padding-left: 5px
				}


		.provider-pakketten-vergelijking-sectie .blauwe-knop {
			font-size: 12px;
		}