.print-vergelijking,
.print-provider-pakketten {
	margin: 0 -10px;
}
.print-vergelijking .blauwe-knop, 
.print-provider-pakketten .blauwe-knop{
	text-align: center;
}



.provider-pakketten {
	background-color: #f8fff1;
	border: 1px solid #85b942;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 40px;
	box-sizing: border-box;
}
	.provider-pakketten.actief {
		min-width: calc(100% - 40px);
	}
	.provider-pakketten-header {
		display: flex;
		flex-direction: row;
		margin-left: -20px;
		margin-right: 20px;
		margin-top: -20px;
		padding: 10px 20px 10px 20px;
		border-bottom: 1px solid #85b942;
		width: 100%;
		position: relative;
		height: 40px;
	}
		/* legacy */
		/*.provider-pakketten-header .provider-logo-contain {
			max-width: calc(100% - 190px);
			height: 100%;
		}*/
			.provider-pakketten-header .provider-logo-contain img {
				object-fit: contain;
				width: 100%;
				height: 100%;
				object-position: center left;
				max-width: calc(100% - 80px);
			}


		.provider-pakketten-header-prijs {

		}
			.provider-pakketten-header-prijs 
{
			}




.provider-pakketten-lijst {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

	.provider-pakketten-pakket ~ .provider-pakketten-pakket {
		margin-top: 20px;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
	}


	.provider-pakketten-pakket > header {
		padding-bottom: 20px;
	}
		.provider-pakketten.actief .provider-pakketten-pakket > header {
			border-bottom: 1px solid #85b942;
		}

		.provider-pakketten-pakket header .flex {
			display: flex;
			margin: 20px 0;
			opacity: .8;
		}
			.provider-pakketten-pakket header .flex > div {
				flex-basis: 50%;
			}
			.provider-pakketten-pakket header h4 {
				font-size: 12px;
				font-weight: 400;
				margin-bottom: 0;
			}
			.provider-pakketten-pakket header strong {
				font-size: 16px;
				font-weight: 600;
			}

			.provider-pakketten-pakket header .blauwe-knop {
				text-align: center;
			}
				.provider-pakketten-pakket header .blauwe-knop > * {
					vertical-align: middle;
				}
				.provider-pakketten-pakket header .blauwe-knop svg{
					transform: rotate(.5turn);
					width: 30px;
					height: 30px;
					margin: -5px -5px -5px 5px;				
					transition: 0.2s ease-in-out;
				}
					.actief .provider-pakketten-pakket header .blauwe-knop svg {
						transform: rotate(1turn);
					}

					.provider-pakketten-pakket header .blauwe-knop path{
						fill: white;
					}

	.provider-pakketten-pakket > footer {
		display: none;
	}

		.actief .provider-pakketten-pakket > footer {
			display: block;
		}

.provider-pakketten-vergelijking-hoofd {
	display: none;
}
	.provider-pakketten-vergelijking-hoofd.actief {
		display: block;
	}

	.provider-pakketten-vergelijking-sectie {
		margin: 20px 0;
	}
		.provider-pakketten-vergelijking-sectie + .provider-pakketten-vergelijking-sectie {
			margin-top: 40px;
		}
		.provider-pakketten-vergelijking-sectie header {
			
		}
			.provider-pakketten-vergelijking-sectie header svg,
			.provider-pakketten-vergelijking-sectie header h3{
				vertical-align: middle;
				display: inline-block;
			}	
			.provider-pakketten-vergelijking-sectie header svg {
				width: 30px;
				height: 30px;
			}
				.provider-pakketten-vergelijking-sectie header path, 
				.provider-pakketten-vergelijking-sectie header circle {
					fill: #1d1d1b;
				}

			.provider-pakketten-vergelijking-sectie table {
				margin: 20px 0;
				width: 100%;
			}

				.provider-pakketten-vergelijking-sectie td, 
				.provider-pakketten-vergelijking-sectie th {
					max-width: calc(60% - 5px);
					padding-right: 5px;
				}
				.provider-pakketten-vergelijking-sectie td + td, 
				.provider-pakketten-vergelijking-sectie th + th{
					max-width: calc(40% - 5px);
					padding-right: 0;
					padding-left: 5px
				}


		.provider-pakketten-vergelijking-sectie .blauwe-knop {
			font-size: 12px;
		}


		/****************************/

	

	.provider-pakketten-header-pakkettental {
		font-weight: 600;
		font-size: 18px;
		align-self: center;
		margin-left: 10px;
		display: none;
	}

	.provider-pakketten-pakket-titel {
		margin-top: 20px !important;
	}

	.provider-pakketten-pakket-links-onder_snelheid {
		display: block;
	}

	#print-provider-pakketten .provider-pakketten-pakket-links {
		display: inline-block;
		width: calc(100% - 55px);
		vertical-align: bottom;
	}

	#print-provider-pakketten .provider-pakketten-pakket-rechts {
		display: inline-block;
		vertical-align: bottom;
	}

		#print-provider-pakketten .provider-pakketten-pakket-rechts .blauwe-knop{
			display: inline-block;
			width: auto;
			padding: 15px 20px;
			margin-top: 20px;	
		}
			.bestel-svg {
				width: 50px;
				height: 50px;
				transform: rotate(.5turn);
				margin: -20px;			
			}


/*************************************************************/

	/* na derde */

	@media (min-width: 600px) {
		.provider-pakketten-break h2{
			color: rgb(21, 154, 60);
			padding: 20px;
			font-size: 14px;
		}


		.print-vergelijking .provider-pakketten:nth-child(3) ~ .provider-pakketten:not(.actief) {
			display: flex;
		}

			.print-vergelijking .provider-pakketten:nth-child(3) ~ .provider-pakketten:not(.actief) .provider-pakketten-header {
				width: 120px;
				border-bottom: 0;
				padding: 0;
				padding-left: 20px;
				padding-top: 20px;
				flex-direction: column;			
			}
				.print-vergelijking .provider-pakketten:nth-child(3) ~ .provider-pakketten:not(.actief)  .provider-pakketten-header .provider-logo-contain {
					max-width: initial;
					height: calc(100% + 20px);
				}		
					.print-vergelijking .provider-pakketten:nth-child(3) ~ .provider-pakketten .provider-logo-contain img{
						max-width: 100%;
					}
					.vergelijking-vanaf-4e-prijs {
						display: block;
						color: #159a3c;
						font-weight: bold;
						margin-top: 10px;
					}

			.print-vergelijking .provider-pakketten:nth-child(3) ~ .provider-pakketten:not(.actief) .provider-pakketten-lijst {
				flex-basis: 100%;
			}
				.print-vergelijking .provider-pakketten:nth-child(3) ~ .provider-pakketten:not(.actief) .provider-pakketten-pakket {
	/*				display: flex;
					flex-direction: row;	*/			
				}
					.print-vergelijking .provider-pakketten:nth-child(3) ~ .provider-pakketten:not(.actief) .provider-pakketten-pakket header {
						width: 100%;
						padding-bottom: 0;
						display: flex;					
						justify-content: space-between;
						align-items: flex-start;
					}
						.print-vergelijking .provider-pakketten:nth-child(3) ~ .provider-pakketten:not(.actief) .provider-pakketten-pakket header .provider-pakketten-pakket-titel {
							margin-top: 0 !important;
							margin-right: 20px;						
						}

							.print-vergelijking .provider-pakketten:nth-child(3) ~ .provider-pakketten:not(.actief) .provider-pakketten-pakket header .flex {
								margin: 0;
								margin-right: 20px;
								display: flex;
							}
								.print-vergelijking .provider-pakketten:nth-child(3) ~ .provider-pakketten:not(.actief) .provider-pakketten-pakket header .flex .provider-pakketten-pakket-rechts {
									margin-left: 5px;
									margin-top: 0;
								}

					.print-vergelijking .provider-pakketten:nth-child(3) ~ .provider-pakketten:not(.actief) .provider-pakketten-pakket footer {
						display: none;
					}
	}



/*******************************************************/

@media (min-width: 1200px) {

	.print-vergelijking,
	.print-provider-pakketten {
		margin: 0 -10px;
	}	

	.print-provider-pakketten, .print-vergelijking {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 50px;
		/*justify-content: space-between;*/
	}

		.print-provider-pakketten .provider-pakketten, 
		.print-vergelijking .provider-pakketten{
			flex-basis: 25%;
			margin-right: 20px;
			margin-left: 20px;
			margin-bottom: 40px;
			flex-grow: 1;
			max-width: calc(33% - 38px);
		}

		.print-vergelijking .provider-pakketten:nth-child(3) ~ .provider-pakketten{
			min-width: calc(100% - 40px);	
		}

		.provider-pakketten-pakket header .flex {
			display: block;
		}
			.provider-pakketten-pakket header .provider-pakketten-pakket-rechts {
				margin-top: 10px;
			}

	.provider-pakketten-break {
		padding: 0 20px;
	}

}