/*
@media (min-width: 1200px) {

	[data-kz-stap~="hoofd"] main .keuzehulp .verpakking,
	[data-kz-stap~="hoofd"][data-kz-stap~="nog-geen-niveau"] main .keuzehulp .verpakking  {
		max-width: calc(100% - 630px);
	}
	[data-kz-stap~="hoofd"] main .keuzehulp .verpakking,
	[data-kz-stap~="pad-keuze"] main .keuzehulp .verpakking {
		width: 840px;
	}

}
*/
.keuzehulp-sectie {
	padding: 40px 20px 20px 20px;
}

.keuzehulp-sectie ~ .keuzehulp-sectie {
  display: none;
}

.keuzehulp-sectie_kop {
	font-size: 15px;
	color: #159a3c;
}
	.keuzehulp-sectie_kop h2 {
		color: inherit;
	}


[data-kz-status="0"] .kz-sectie-20 .knoppendoos .kz-knop-combi:last-child,
[data-kz-status="0"] .kz-sectie-3 .knoppendoos .kz-knop-combi + .kz-knop-combi ~ .kz-knop-combi { /* zakelijk */
	display: none;
}


.statusbepaald {
	display: none !important;
}
[data-kz-status='0'] .statusbepaald.status-0 {
	display: inline-block !important;
}
[data-kz-status='1'] .statusbepaald.status-1 {
	display: inline-block !important;
}
[data-kz-status='2'] .statusbepaald.status-2 {
	display: inline-block !important;
}
[data-kz-status='3'] .statusbepaald.status-3 {
	display: inline-block !important;
}
[data-kz-status='4'] .statusbepaald.status-4 {
	display: inline-block !important;
}
[data-kz-status='5'] .statusbepaald.status-5 {
	display: inline-block !important;
}
[data-kz-status='6'] .statusbepaald.status-6 {
	display: inline-block !important;
}
[data-kz-status='100'] .statusbepaald.status-100 {
	display: inline-block !important;
}
