


img {
	width: 100%;
	height: auto;
}

.page-template-keuzehulp {
	background-color: #f3f3f0;
}

body.keuzehulp {
	font-family: "Maven Pro", sans-serif;
	margin: 0;
}

.keuzehulp .verpakking {
	width: 1200px;
	max-width: calc(100% - 40px);
	margin: 0 auto;
	padding-top: 0;
}

.keuzehulp .onzichtbaar {
	display: none !important;
}

.keuzehulp h2, .keuzehulp h3 {
	color: #1d1d1b;
	font-weight: 700;
	margin-top: .33em;
	margin-bottom: .5em;
}

.keuzehulp h1:first-child, .keuzehulp h2:first-child, .keuzehulp h3:first-child, .keuzehulp h4:first-child, .keuzehulp h5:first-child, .keuzehulp h6:first-child {
	margin-top: 0;
}

.keuzehulp p {
	color: #1d1d1b;
	font-weight: 500;
	max-width: 600px;
	font-size: 15px;
	line-height: 20px;
}



.kz-tooltip {
	display: inline-block;
	width: 20px;
	height: 20px;
}
